<div *ngIf="automovilista">
    <h2>Agregar Patente</h2>
    <div><span>Automovilista: </span>{{automovilista.telefono}}</div>
    <div>
        <label for="nueva-patente">Nueva patente: </label>
        <input id="nueva-patente" #nueva_patente1 [(ngModel)]="patente.patente" placeholder="" />
    </div>
    <button type="button" (click)="save(nueva_patente1.value)">save</button>
</div>

<h2>Agregar Patente</h2>
<div>
    <label for="nueva-patente">Nueva patente: </label>
    <input id="nueva-patente" #nueva_patente [(ngModel)]="patente.patente" placeholder="" />
</div>
<button type="button" (click)="save(nueva_patente.value)">save</button>