h1 {
    margin-bottom: 0;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #e8e8e8;
    color: #3d3d3d;
    border-radius: 4px;
}

nav a:hover {
    color: white;
    background-color: #42545C;
}

nav a:active {
    background-color: black;
}

/* Estilos de borde para resaltar la sección */
.resaltar-seccion {
    border: 0px solid black;
    /* Color de borde de btn-primary por defecto */
    border-radius: 5px;
    /* Redondear los bordes para que se vea más agradable */
    padding: 10px;
    /* Agregar un poco de espacio interno para separar el contenido del borde */
}

.fondo-container {
    background-color: rgb(250, 247, 239)
}