<div>
    <nav>
        <button>
            <a routerLink="/agregarPatente">Agregar Patente</a>
        </button>
    </nav>
</div>
<div *ngIf="patentes">
    <h3>Selecciona una patente</h3>
        <ul>
            <li *ngFor="let patente of patentes">
                <button [class.selected]="patente === patenteSeleccionada" type="button" (click)="onSelect(patente)">
                    <span>Patente: {{ patente.patente | uppercase }}</span>
                </button>
            </li>
        </ul>
</div>

<div *ngIf="patenteSeleccionada"> 
    <button type="button" class="iniciar" title="iniciar estacionamiento"
      (click)="iniciarEstacionamiento()">Iniciar Estacionamiento</button>
</div>

<div *ngIf="estacionamiento"> 
    Estacionamiento iniciado el: {{estacionamiento.inicioDeEstacionamiento}}
    <button type="button" class="finalizar" title="finalizar estacionamiento"
      (click)="finalizarEstacionamiento()">Finalizar Estacionamiento</button>
</div>
